$separation: 5px;
$col: column;
$ro: row;
$nw: nowrap;
$w: wrap;
$fs: flex-start;
$fe: flex-end;
$ce: center;
$sb: space-between;
$sa: space-around;

@mixin flex-box ($display, $flow, $jus, $ali) {
    display: $display;
    flex-flow: $flow;
    justify-content: $jus;
    align-content: $ali;
}

*{//reset global
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

.header__div--txt{ //Guillermo N. Siegel
    @include flex-box(flex, $col $nw, $fs, $fs);
    padding-top: $separation * 4;
}

#article__phrases{//Dream big, work hard
    text-align: $ce;
}

#buttonsMain{//div de los btn del main
    @include flex-box(flex, $ro $nw, $fs, $fs);
}

.bttn{//structure btn gral
    border: 1px solid rgba(128, 128, 128, 0.123);
    padding: $separation;
    align-self: $fe;
}

#main__div--bkImg{ //div de cada div de info personal
    @include flex-box(flex, $ro $nw, $ce, $ce);
    height: 290px;
    width: 100%;
}

#body__article{
    @include flex-box(flex, $col $nw, $ce, $ce);
    margin-top: $separation * 3;
        h2{
            align-self: $ce;
        }
}

.article__div--style{ //estilo del div de skills
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 10px;
    text-align: center;
}

.article__divSkill--style{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}

#article__contact{
    form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        textarea{
            font-weight: 900;
        }    
        button{
                font-weight: 900;    
            }
        }
    }

#btnComment{
    margin-left: 60px;
}

#porcen{
    position: relative;
    top: 380px;
    margin-left: 45px;
}

.div__load{
    position: absolute;
    height: 200px;
    width: 100px;
    transition: .2s;
}

#progress{
    display: none;
}